/* FOGLIO DI STILE
/*  --PUZZLE--
*/

html{
    display: block;
}


body {
    font: 14px/22px Helvetica, Arial, sans-serif;
    color: #666;
    background: rgb(255, 245, 218);
    width:100%;
    display: block;

}

a {
    text-decoration: none;
    color: #461220;
}

header{
    width: 100%;
}

/* STRISCIA ARANCIONE SOTTO LOGO SOCIAL NETWORK */
#banner {
    background-color: #FDBB78;
    min-width: 500px;
    height: 50px;
    margin-right: 70px;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: relative;
}

/* LOGO SOCIAL NETWORK */
#logo-banner{
    background-color: rgb(255, 245, 218);
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    min-width: 280px;
    max-width: 350px;
}


a.button{
    position: absolute;
    right: 54px;
    top: 28px;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
}

#banner #logo {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 11px;
    top: 7px;
    display: block;
    background: url(../images/puzzle-mini-logo.png);
}

h1 {
    background-color: #461220;
    color: rgba(247, 209, 160, 0.99);
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    padding: 65px;
    text-shadow: 2px 2px rgba(255, 204, 23, 0.3);
}

ul{
    text-align: right;
    width: 150px;
    position: relative;
}



h2 {
    font-size: 24px;
    color: #393939;
}

h3, h4, h5, h6 {
    color: #666666;
}

h3 {
    font-size: 18px;
}


th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #ffcc00;
    min-width: 200px;
}

#membri{
    min-width: 0;
}

li {
    display:inline-block;
}

.nav{
    position: fixed;
}

#nav_image{
    display: none;
}

.nav ul{
    list-style: none;
    font-size: 14px;
}

.nav ul li {
    padding: 5px 0;
    line-height: 16px;

}

.nav ul a {
    color: #666;
}

.nav .current a {
    color: #461220;
}

.nav li:hover a{
    color: #8F2B27;
}

section {
    margin-left: 200px;
    margin-right: 95px;
    margin-top: 15px;
    padding: 0 30px 50px 30px;
    position: relative;
    background: #F1F1F1;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09),
    inset 0 0 2px 2px rgba(255, 255, 255, 0.5),
    inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

.subsection {
    border: 0;
    outline: none;
    background: transparent url("../images/hr2.gif") bottom center repeat-x;
    padding-bottom: 20px;
}

.wrapper {
    width: 100%;
    float: right;
}

footer {
    width: 180px;
    position: fixed;
    left: 50%;
    margin-left: -530px;
    bottom: 20px;
    text-align: right;
    line-height: 16px;
}



/* INIZIO CSS MOBILE */

@media screen and (max-width: 880px) {


    header {
        position: fixed;
        background-color: rgb(255, 245, 218);
        width: 100%;
    }

    section{
        margin: 1%;
        position: static;
        margin-top: 200px;
    }

    #banner {

        width: 100%;
        height: 50px;
        min-width: 0;
        border-radius: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 120px;
    }


    .button {

        display: none;
    }

    .nav {
        position: fixed;
        top: 110px;
    }

    #nav_image{
        display: block;
        position: fixed;
    }

    .image_nav{
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
    }

    .nav ul {
        width: 100%;
        display: block;
        text-align: center;
    }

    .nav li {
        display: none;
        margin: 0;
    }

    .nav .current {
        display: block;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-align: left;
    }

    .nav .current a {
        background: none;
        color: #666;
        width: 600px;
    }

    .nav ul:hover li{
        background-color: #FDBB78;
        display: block;

    }

    .nav ul:hover ul{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }

    .nav ul:hover #other{
        margin-left: 30px;
    }


}
