

body {
    font: 14px/22px Helvetica, Arial, sans-serif;
    color: #666;
    background: #D5BF86;
    width:100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #461220;
}

#banner {
    background-color: #D88837;
    min-width: 500px;
    height: 50px;
    margin-right: 70px;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -55px;
}

a.button{
    position: absolute;
    right: 54px;
    top: 28px;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
}

#banner #logo {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 11px;
    top: 7px;
    display: block;
    background: url(../images/puzzle-mini-logo.png);
<!-- COMMENTO -->
}

h1 {
    background-color: #461220;
    color: rgba(247, 209, 160, 0.99);
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    padding: 65px;
    text-shadow: 2px 2px rgba(255, 204, 23, 0.3);
}

ul{
    text-align: right;
    width: 150px;
    position: relative;
}



h2 {
    font-size: 24px;
    color: #393939;
}

h3, h4, h5, h6 {
    color: #666666;
}

h3 {
    font-size: 18px;
}


th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #ffcc00;
}

nav {
    width: 23%;
    position: fixed;
    top: 180px;
    margin-top: 20px;
}

nav ul{
    list-style: none;
    list-style-image: none;
    font-size: 14px;
}

nav ul li {
    padding: 5px 0;
    line-height: 16px;
}

nav ul a {
    color: #666;
}

section {
    top: -30px;
    margin-left: 200px;
    margin-right: 95px;
    margin-top: 15px;
    min-width: 600px;
    padding: 0px 30px 50px 30px;
    position: relative;
    background: #F1F1F1;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09),
            inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5),
             inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
}

.subsection {
    border: 0;
    outline: none;
    background: transparent url("../images/hr.gif") bottom center repeat-x;
    padding-bottom: 20px;
}

.wrapper {
    width: 100%;
    float: right;
}

footer {
    width: 180px;
    position: fixed;
    left: 50%;
    margin-left: -530px;
    bottom: 20px;
    text-align: right;
    line-height: 16px;
}


